<div
  data-testid="ghibli-card"
  class="relative h-fit w-fit overflow-hidden rounded-2xl text-transparent hover:text-white"
>
  <div
    class="absolute flex h-full flex-col justify-between p-5 transition-colors hover:bg-base-100/50"
  >
    <h1 data-testid="ghibli-card-title" class="text-2xl">{{ title }}</h1>
    <div class="flex flex-col gap-5">
      <p
        data-testid="ghibli-card-description"
        class="line-clamp-3 leading-relaxed"
        [textContent]="description"
      ></p>
      <button
        class="btn btn-ghost w-full"
        (click)="handleCardClick()"
        data-testid="ghibli-card-button"
      >
        more details
      </button>
    </div>
  </div>
  <img
    data-testid="ghibli-card-img"
    [ngSrc]="img"
    [alt]="title"
    [width]="600"
    [height]="900"
    [priority]="true"
  />
</div>
