.header {
  grid-area: app-header;
}

.content {
  grid-area: app-content;
}

.footer {
  grid-area: app-footer;
}

.template-grid {
  grid-template-rows: 10% auto 15%;
  display: grid;
  grid-template-areas:
    'app-header'
    'app-content'
    'app-footer';
  height: 100vh;
}
